extends layout

block content
    h2 Devices
    ul.list
        each device, i in devices
            .row
                .col
                    b= device.name + ', ' + device.deviceType
                    br
                    != 'Inside ' + device.roomName + ' on floor ' + device.floor
                .col.right
                    button.outline.configure(id=device._id, style="margin-right: 10px") Configure device
            hr
    button#discover_device.outline(href='/devices/discovery' style='margin-right: 10px') Scan for devices
    button#add_device(href='/devices/add') Manually add a device