.container {
    width: 85%;
}
.pad {
    padding-left: 20px;
    padding-right: 20px;
}

.alert {   
    width: 85%;
    box-sizing: border-box;
    padding: 10px 10px 10px 10px;
    margin: auto;
    text-align: center;
    border: 1px solid #111111;
    border-radius: 3px;
    background-color: #CCE5FF;
    color: #004085;
}

.alert-danger {
    background-color: #F8D7DA;
    color: #721C24;
}

.alert-success {
    background-color: #D4EDDA;
    color:#15572A;
}

.alert-warning {
    background-color:#FFF3CD;
    color: #856404;
}

.list {
    list-style-type: none;
    border: 1px solid black;
    padding: 10px;
    line-height: 40px;
    font-size: 1.4em;
    border-radius: 5px;
}

.delete{
    border: 1px solid red;
    background-color: #db4551;
    color: white;
    font-weight: bold;
}

.device-info {
    margin: 0;
}